html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

section{
	background-color: #b3b3b3;
	font-size: medium;
	font-weight: 500;
	border-radius: 5px;
}

.column {
	float: left;
    width: 50%;
}

.sensor {
  font-size: 1.5rem;
  vertical-align: middle;
  padding: 15px;
}

.button {
  display: inline-block;
  background-color: green;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button2 {
  background-color: #990000;
}

.slider{
	-webkit-appearance: none; 
	margin: 14px; 
	width: 360px; 
	height: 25px; 
	background: rgb(2, 53, 2);
      	outline: none; 
	-webkit-transition: .2s; 
	transition: opacity .2s;
	border-radius: 10px; 
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
.slider::-webkit-slider-thumb{
	-webkit-appearance: none; 
	appearance: none; 
	width: 15px; 
	height: 35px; 
	background: #2587b4;
	border-radius: 10px; 
	cursor: pointer;
}

.slider::-moz-range-thumb{ 
	width: 35px; 
	height: 35px; 
	background: #389bc9; 
	cursor: pointer;
} 